.albumResult
  .moreHeader
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 2% 2%;
    background-image: linear-gradient(to bottom, #2a279f, #15285e,#2a279f);
    ul.header_t
      display: flex;
      justify-content:center;
      li
        border: none
        img
          margin-top: 2px;
          width: 50%;
      li.header_right
        flex: 1;
        margin-top: 0.5%;
        img
          margin-top: 3px;
          float: right;
      li.header_left
        flex: 1;
      li.header_center
        flex: 7;
        margin-top: 0.5%;
  ul
    li
      width: 100%;
      border-bottom: 1px solid #1F294D;
      img
        width: 20%;
        margin: 3%;
        border-radius: 5%;
        vertical-align: top;
      span.out
        display:inline-block;
        margin-top:3%
        width:70%
        span
          display block
          margin-bottom 2%
        span:nth-of-type(2)
          color:#1cefe7
        span:nth-of-type(3)
          color:#1cefe7
