.homePage
  box-sizing: border-box;
  padding: 50px 0;
  width: 80%;
  margin: 35% auto 0 auto;
  .logo-content
    width: 37%;
    margin:0 auto;
    img
      width: 100%;
  .proName
    text-align: center;
    font-weight: bolder;
    color: #ffffff;
    font-family: "Microsoft YaHei",serif;
    margin: 10% auto 0 auto;
