.listShow
  .list
    padding: 14px 0;
    border-top: 2px solid #1F294D;
    .list-hot-header
      .list-hot-title
        margin: 1px 0px 10px 10px;
        float: left;
        color: #1CEFE7;
      .list-hot-more
        display: inline-block;
        float: right;
        margin-right: 10px;
        padding: 1% 3%;
        line-height: 25px;
        border-radius: 8px;
        background-color: #192649;
        text-align: center;
    .list-list
      width: 100%;
      ul
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        li
          width: 33.33333%;
          text-align: center;
          img
            margin: 10%;
            width: 80%;
      ul.list1
        li
          img
            border-radius: 50%;
      ul.list3
        li
          img
            border-radius: 20%;
      ul.list4
        li
          img
            border: 3px solid #353135;

