.listTemplet
  .header
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 2% 2%;
    background-image: linear-gradient(to bottom, #2a279f, #15285e,#2a279f);
    ul
      display: flex;
      justify-content:center;
      li
        img
          margin-top: 2px;
          width: 50%;
      li.header_left
        flex: 1;
      li.header_center
        flex: 7;
        margin-top: 0.5%;
      li.header_right
        flex: 1;
        margin-top: 0.5%;
        img
          margin-top: 3px;
          float: right;
  .hotMusicPage_bg
    width: 100%;
  .hotMusicPage_list
    width: 100%;
    .hotMusicPage_list_run
      width: 90%;
      padding: 3% 0;
      margin: 0 5%;
      background-color: #07133B;
      border-bottom: 2px solid #1F294D;
      img
        width: 9%;
        vertical-align: middle;
      img:nth-of-type(2)
        float: right;
    ul
      li
        width: 84%;
        padding: 3% 0;
        margin: 0 8%;
        border-bottom: 1px solid #1F294D;
        span.rankNum
          float:left;
          display:block;
          margin-top:3%;
          margin-right:4%;
        img.pic
          float:left;
          width 15%;
        div
          float:left;
          width:62%;
          margin-left: 4%;
          span
            display:block;
          .singerName
            margin-top 2%
        img
          width: 6%;
          float: right;
        img:nth-of-type(2)
          margin-top:6%;
          margin-top:4%;
        img:nth-of-type(3)
          margin-right: 4%;
          margin-top:4%;
