.mineMusic
  .userInf
    width: 90%;
    margin: 5%;
    border: 1px solid #1F294D;
    img
      width: 15%;
      border-radius: 50%;
      vertical-align: middle;
      margin: 5%;
    span.btnxg
      display: inline-block;
      padding: 1% 3%;
      border-radius: 40%;
      color: #1CEFE7;
      background-color: transparent;
      border: 1px solid #1CEFE7;
      float: right;
      margin: 8% 7%;
  .edit
    width:72%;
    visibility hidden
    color black
    border 1px solid black
    position:fixed;
    top: 32%;
    background-color #fff
    padding: 5% 4% 3% 4%;
    margin-left:10%;
    z-index:900;
    text-align center
    //visibility:hidden
    img
      width 40%
    input
      margin-top 5%
    input.file
      opacity 0
      position absolute
      top 49%
      left 40%
      width 19%
      height 7%
    span.filebtn
      display block
      color black
    input.text
      width 70%
      padding 2% 0
      border 1px solid #161616
    button
      border none
      background-color #161616
      color #ffffff
      padding 2% 5%
      float right
      margin 5% 5% 0 2%
  ul.mineMusic_c
    display: flex;
    li
      flex: 1;
      text-align: center;
      img
        width: 22%;
        margin-bottom: 3%;
  .songList_header
    box-sizing: border-box;
    padding: 5%;
    width: 100%;
    border-top: 2px solid #1F294D;
    margin-top: 5%;
    img
      width: 6%;
      float: right;
    img:nth-of-type(1)
      margin-left: 5%;
  .listClassify
    li
      width: 90%;
      padding: 1% 0;
      margin: 0 5%;
      border-bottom: 1px solid #1F294D;
      img
        width: 20%;
        vertical-align: top;
        float: left;
      img:nth-of-type(2)
        float: right;
        margin-top: 7%;
        width: 5%;
      div
        margin: 1% 4%;
        width: 60%;
        float: left;
        span
          margin: 0 1%;
          display: inline-block;
        span:nth-of-type(1)
          font-weight: bold;
          margin-bottom: 5px;
  .addList
    width:60%;
    position:fixed;
    top: 36%;
    background-image: linear-gradient(to right, #132245, #222272)
    padding: 5% 4% 3% 4%;
    margin-left:20%;
    visibility:hidden;
    div:nth-of-type(1)
      margin-bottom:5%;
      input
        width:70%;
        margin-left: 5%
        padding:2% 0;
        outline:none;
        border:none;
    div:nth-of-type(2)
      float: right
      margin-right: 3%;
      width:50%;
      button
        background-color: #081848;
        color:#fff;
        outline:none;
        border:none;
        display:inline-block;
        padding:4% 10%;
        float:right;
      button:nth-of-type(1){
        margin-left:8%;
      }
