.mineMusicList
  .header
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 2% 2%;
    background-image: linear-gradient(to bottom, #2a279f, #15285e,#2a279f);
    ul
      display: flex;
      justify-content:center;
      li
        img
          margin-top: 2px;
          width: 50%;
      li.header_left
        flex: 1;
      li.header_center
        flex: 7;
        margin-top: 0.5%;
        margin-left: 30%;
  .listClassify
    li
      width: 90%;
      padding: 1% 0;
      margin: 0 5%;
      border-bottom: 1px solid #1F294D;
      .yj
        border-radius: 50%;
        border: 2px solid #fff;
        margin: 5% 4% 5% 0;
        display: inline-block;
        float: left ;
        .yd
          width: 50%;
          height: 50%;
          border-radius: 50%;
          background-color: #ffffff;
          margin: 26% 26%;
          visibility: hidden;
      img
        width: 20%;
        vertical-align: top;
        float: left;
      img:nth-of-type(2)
        float: right;
        margin-top: 7%;
        width: 5%;
      div:nth-of-type(2)
        margin: 1% 4%;
        width: 60%;
        float: left;
        span
          margin: 0 1%;
          display: inline-block;
        span:nth-of-type(1)
          font-weight: bold;
          margin-bottom: 5px;
  .mineMusicList_bottom
    width: 100%;
  .mineMusicListt_bottom
    width: 100%;
    padding: 3% 0;
    border-top: 2px solid #1F294D;
    background-color: #07133B;
    position: fixed;
    bottom: 0;
    text-align: center;
    img
      width: 7%;
