.musicPlayPage
  width 100%
  height 100%;
  text-align center
  #header_l
    width 10%;
    position absolute
    top 2%
    left 2%
  .songname
    margin-top 10%
    font-size 24px
  .singer
    font-size 20px
    margin-top 2%
  .palyerPic
    position relative
    width 70%
    margin-top 16%;
    border-radius 50%
  .process
    position absolute
    width 100%
    top 80%
    display flex
    .process_contain
      flex 6
      display inline-block
      width 70%
      background #fff
      height 3px
      margin-top 2%
      .pro
        height 100%
        background #909090
     .time1
       flex 1
     .time2
       flex 1
  div.bottom
    position absolute
    width 100%
    bottom 5%
    text-align center
    img
      width 13%
    img:nth-of-type(2)
      width 17%
      margin -2% 2%
    img:nth-of-type(3)
      width 17%
      margin -2% 2%
  .sound
    position absolute
    width 8%
    bottom 7%
    right 7%
