.singerResult
  video
    width 90%
    position fixed
    left 5%
    top 30%
    display none
    z-index 3
  .shelter
    height: 100%;
    position: fixed;
    display none
    top: 0;
    width: 100%;
    background-color: rgba(7,19,59,0.8);
    z-index 2
  ul
    li
      width: 100%;
      border-bottom: 1px solid #1F294D;
      img
        width: 20%;
        margin: 3%;
        border-radius: 5%;
        vertical-align: top;
      span.out
        display:inline-block;
        margin-top:3%
        width:70%
        span
          display block
          margin-bottom 2%
        span:nth-of-type(2)
          color:#1cefe7
        span:nth-of-type(3)
          color:#1cefe7
