.searchResult
  .moreHeader
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 2% 2%;
    background-image: linear-gradient(to bottom, #2a279f, #15285e,#2a279f);
    ul.header_t
      display: flex;
      justify-content:center;
      li
        border: none
        img
          margin-top: 2px;
          width: 50%;
      li.header_left
        flex: 1;
      li.header_center
        flex: 8;
        margin-top: 0.5%;
  ul.searchClasify
    display flex
    justify-content center
    width 100%
    li
      flex 1
      text-align center
      padding 3% 0
      border-bottom 1px solid #1f294d
