.search
  .search_header
    background-image: linear-gradient(to bottom, #2a279f, #15285e,#2a279f);
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 2% 2%;
    .back
      float: left;
      flex: 1;
      text-align: center;
      img
        width: 45%;
        margin-top: 18%;
    .search_k
      position:relative;
      float: left;
      flex: 8;
      width: 80%;
      height: 100%;
      form
        .search_t
          outline:none;
          box-sizing: border-box;
          display: inline-block;
          width: 95%;
          height: 100%;
          border: none;
          border-radius: 100px;
          padding-left: 8%;
        img
          position: absolute;
          top: 22%;
          width: 6%;
        img.search_icon
          left: 1%;
        img.empty
          right: 8%;
  .search_hot
    margin: 3% 5%;
    color: #1CEFE7;
  .hot_list
    width: 86%;
    margin: 5% 7%;
    height: 100%;
    background-color: red;
  .hot_list
    ul
      li
        padding: 2%;
        margin: 3% 5%;
        border-radius: 100px;
        border: 1px solid #fff;
        float: left;
