.selectSong
  .header
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 2% 2%;
    background-image: linear-gradient(to bottom, #2a279f, #15285e,#2a279f);
    ul
      display: flex;
      justify-content:center;
      li
        img
          margin-top: 2px;
          width: 50%;
      li.header_left
        flex: 1;
      li.header_center
        flex: 7;
        margin-top: 0.5%;
      li.header_right
        flex: 1;
        margin-top: 0.5%;
        img
          margin-top: 3px;
          float: right;
  .selectSong_list
    li
      border-bottom: 1px solid #1F294D;
      margin: 0 5%;
      .yj
        border-radius: 50%;
        border: 2px solid #fff;
        margin: 5% 4% 5% 0;
        display: inline-block;
        float: left ;
        .yd
          width: 50%;
          height: 50%;
          border-radius: 50%;
          background-color: #ffffff;
          margin: 26% 26%;
          visibility: hidden;
      .songInfo
        margin: 2% 0;
        width: 80%;
        float: left;
  .select_bottom
    width: 100%;
  .selectSong_bottom
    width: 100%;
    padding: 3% 0;
    border-top: 2px solid #1F294D;
    background-color: #07133B;
    position: fixed;
    bottom: 0;
    text-align: center;
    img
      width: 7%;
